<app-particles></app-particles>
<app-three-scene></app-three-scene>
<section class="home">
    <div class="container">
      <div class="intro">
        <h1 class="name">Hi, I'm <span>{{ profile.name }}</span></h1>
        <h2 class="title">{{ profile.title }}</h2>
        <p class="summary">{{ profile.summary }}</p>
        <div class="buttons">
          <a href="/assets/JannatulFardouse_621982.pdf" class="btn" download>Download CV</a>
          <a href="#contact" class="btn-outline">Contact Me</a>
        </div>
      </div>
  
      <!-- Dynamic Sections -->
      <app-tabs-section></app-tabs-section>

    </div>
  </section>