:host ::ng-deep .mat-mdc-tab .mdc-tab__text-label {
    color: #b80099 !important;       
    font-weight: 600 !important;
    opacity: 1 !important;
  }
  
  :host ::ng-deep .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
    color: #b80099 !important;    
  }
  
  :host ::ng-deep .mat-mdc-tab:hover .mdc-tab__text-label {
    transform: scale(1.05);
    cursor: pointer;
  }
  
  
  .custom-tabs {
    margin-top: 2rem;
  
    .badge {
      background: #f3e5f5;
      color: #b80099;
      padding: 0.5rem 1rem;
      border-radius: 20px;
      margin: 0.3rem;
      display: inline-block;
    }
  
    .experience-card,
    .edu-block {
      padding: 1rem;
      border-left: 3px solid #b80099;
      background: #fafafa;
      margin-bottom: 1rem;
      border-radius: 6px;
    }
  
    .cert-list {
      list-style-type: none;
      padding: 0;
  
      li {
        padding: 0.5rem 0;
      }
    }
  }
  .mobile-paginator {
    text-align: center;
    margin: 2rem 0;
  
    .pagination-header h3 {
      font-size: 1.2rem;
      color: #b80099;
      margin-bottom: 1rem;
    }
  
    .pagination-controls {
      display: flex;
      justify-content: center;
      gap: 1rem;
      margin-top: 1rem;
  
      button {
        background-color: #b80099;
        color: #fff;
        border: none;
        border-radius: 6px;
        padding: 0.5rem 1.2rem;
        font-weight: 600;
        cursor: pointer;
  
        &:disabled {
          background-color: #b80099;
          cursor: not-allowed;
        }
      }
    }
  }
  